.page {
    text-align: center;
}

.hero {
    width: 100%;
    background-color: #ffffff;
}

.container {
    width: 100%;
    max-width: 1080px;
    min-width: 100vh;
    margin: 0 auto;
}

.hero-title {
color:rgb(45, 45, 240);
font-size: 56px;
line-height: 1.5;
}

.hero-button {
    padding: 10px;
    margin: 0;
border: 0;
border-radius: 5px;
background-color: #000000;
color: aqua;
}
